﻿#inputContainer
{
    width: 350px;
}

#inputContainer input[type="text"]
{
    width: 265px;
}

#outputContainer
{
    border-left: 1px solid hsl( 30, 10%, 80% );
}


#pleasewait 
{
    display: none;
}

#pleasewait.visible
{
    display: inline-block;
}