﻿#header 
{
    background: darkslateblue;
}

#footer
{
    clear: both;
}

#content
{
    margin: 50px 80px 50px 80px;
}

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}




.pageBar
{
    display: block;
    min-height: 120px;
}




.navBar
{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 60px;
    overflow: hidden;  
    background-color: darkslateblue;
}

.navBar li
{
    float: left;
}

.navBar li a
{
    display: block;
    color: white;
    font-weight: 100;
    text-align: center;
    min-width: 90px;
    text-decoration: none;
}

.navBar li a:hover
{
    color: black;
    background-color: white;
}



#header .title
{
    color: white;
    font-size: 4.5em;
}

#footer
{
    padding: 50px 20px 0 20px;
    font-size: 0.8em;
    text-align: center;
}

#footer .hr
{
    border-top: 1px solid hsl( 30, 10%, 80% );
    margin: 10px 0;
}

.title
{
    font-size: 2.5em;
    padding: 0.4em 0 0.1em 0.6em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}


.rightContent
{
    overflow: hidden;
    padding-left: 20px;
}

.leftContent
{
    float: left;

}